{% trans_default_domain 'FOSUserBundle' %}

<h2>Voir le profil</h2>
<hr />
<div class="fos_user_user_show">
    <p><strong>{{ 'profile.show.username'|trans }} :</strong> {{ user.username }}</p>
    <p><strong>{{ 'profile.show.email'|trans }} :</strong> {{ user.email }}</p>
</div>