{% extends "ZethzerContestBundle::layout.html.twig" %}

{% block title %}
  Tournoi - {{ parent() }}
{% endblock %}

{% block zethzercontest_body %}
<h2>Tournoi</h2>
<hr />
	<p>
		<span class="glyphicon glyphicon-info-sign"></span> Les tournois c'est pour bientôt ! Ouverture très prochaine !
	</p>
{% endblock zethzercontest_body %}