{% extends "ZethzerServerManagementBundle::layout.html.twig" %}

{% block title %}
  Minecraft - {{ parent() }}
{% endblock %}

{% block zethzerservermanagement_body %}
<h2>Serveur Minecraft</h2>
<hr />
	<p>
		<strong>Adresse du serveur :</strong> minecraft.thegodlikeshow.fr<br />
		<span class="glyphicon glyphicon-info-sign"></span> <i>Bukkit 1.7.2</i>
	</p>
{% endblock %}