{% extends "ZethzerNewsBundle::layout.html.twig" %}

{% block title %}
  Récupération de mot de passe - {{ parent() }}
{% endblock %}

{% trans_default_domain 'FOSUserBundle' %}

{% block zethzernews_body %}
<h2>Récupérer son mot de passe</h2>
<hr />
    <p><span class="glyphicon glyphicon-info-sign"></span> {{ 'registration.check_email'|trans({'%email%': email}) }}</p>
{% endblock zethzernews_body %}