{% extends "ZethzerNewsBundle::layout.html.twig" %}

{% block title %}
  Récupération de mot de passe - {{ parent() }}
{% endblock %}

{% trans_default_domain 'FOSUserBundle' %}

{% block zethzernews_body %}
<h2>Récupérer son mot de passe</h2>
<hr />
<p><span class="glyphicon glyphicon-warning-sign"></span> {{ 'resetting.password_already_requested'|trans }}</p>
{% endblock zethzernews_body %}