{% extends "ZethzerForumBundle::layout.html.twig" %}

{% block title %}
  Forum - {{ parent() }}
{% endblock %}

{% block zethzerforum_body %}
<h2>Forum</h2>
<hr />
	<p>
		<span class="glyphicon glyphicon-warning-sign"></span> Le forum est encore en développement ! En attendant, vous pouvez nous rejoindre sur le Teamspeak !
	</p>
{% endblock zethzerforum_body %}