{% extends "ZethzerNewsBundle::layout.html.twig" %}

{% block title %}
  Changer le mot de passe - {{ parent() }}
{% endblock %}

{% block zethzernews_body %}
{% include "ZethzerUserBundle:ChangePassword:changePassword_content.html.twig" %}

	<p>
		<a href="{{ path('fos_user_profile_edit') }}" class="btn btn-warning"><span class="glyphicon glyphicon-import"></span> Retour</a>
	</p>

{% endblock zethzernews_body %}